## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint
import os

# Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Check for nulls
application_df.isnull().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [3]:
# Check for duplicates
application_df.duplicated().sum()

np.int64(0)

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
cleanapplication_df = application_df.drop(['EIN'], axis=1)
cleanapplication_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [5]:
# Check for nulls
application_df.isnull().sum()

EIN                       0
NAME                      0
APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [6]:
# Determine the number of unique values in each column.
unique_values = cleanapplication_df.nunique()
unique_values

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [7]:
# Determine the number of data points for columns with more than 10 unique values
# Get the list of columns with more than 10 unique values
plustenvalues = cleanapplication_df.columns[cleanapplication_df.nunique() > 10]
plustenvalues

Index(['NAME', 'APPLICATION_TYPE', 'CLASSIFICATION', 'ASK_AMT'], dtype='object')

In [8]:
# Look at APPLICATION_TYPE value counts for binning
app_type = cleanapplication_df['APPLICATION_TYPE'].value_counts()
app_type

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = list(app_type[app_type < cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
class_type = cleanapplication_df['CLASSIFICATION'].value_counts()
class_type

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts >1
final_class_type = class_type[class_type > 1]
final_class_type

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_cutoff = 1000
class_type = cleanapplication_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(class_type[class_type < class_cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
d_application_df = pd.get_dummies(cleanapplication_df)

# Convert boolean values to 0 and 1
d_application_df = d_application_df.astype(int)

d_application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays
X = d_application_df.drop("IS_SUCCESSFUL", axis=1).values
y = d_application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 10)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model: Optimized

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer with LeakyReLU activation
nn_model.add(tf.keras.layers.Dense(units=100, input_dim=19684))
nn_model.add(tf.keras.layers.LeakyReLU(alpha=0.01))

# Second hidden layer with LeakyReLU activation
nn_model.add(tf.keras.layers.Dense(units=100))
nn_model.add(tf.keras.layers.LeakyReLU(alpha=0.01))

# Third hidden layer with LeakyReLU activation
nn_model.add(tf.keras.layers.Dense(units=100))
nn_model.add(tf.keras.layers.LeakyReLU(alpha=0.01))

# Output layer with sigmoid activation
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

C:\Users\shadow\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)
C:\Users\shadow\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\keras\src\layers\activations\leaky_relu.py:41: UserWarning: Argument `alpha` is deprecated. Use `negative_slope` instead.
  warnings.warn(

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 100)            │     1,968,500 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ leaky_re_lu (LeakyReLU)         │ (None, 100)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 100)            │        10,100 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ leaky_re_lu_1 (LeakyReLU)       │ (None, 100)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 100)            │        10,100 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ leaky_re_lu_2 (LeakyReLU)       │ (None, 100)            │             0 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │           101 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 1,988,801 (7.59 MB)

 Trainable params: 1,988,801 (7.59 MB)

 Non-trainable params: 0 (0.00 B)

In [17]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Create a callback that saves the model's weights every five epochs

# Create the directory to save the weights
os.makedirs('weights_optimized/', exist_ok=True)

# Update the filepath to end with '.weights.h5'
checkpoint_path = 'weights_optimized/weights2.{epoch}.weights.h5'

# Create a custom ModelCheckpoint callback to save weights every 5 epochs
class CustomModelCheckpoint(ModelCheckpoint):
    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.epochs_since_last_save = 0

    def on_epoch_end(self, epoch, logs=None):
        self.epochs_since_last_save += 1
        if self.epochs_since_last_save >= 5:
            super().on_epoch_end(epoch, logs)
            self.epochs_since_last_save = 0

# Instantiate the custom callback
cp_callback = CustomModelCheckpoint(
    filepath=checkpoint_path,  # Path to save weights
    save_weights_only=True,     # Save only weights, not the whole model
    verbose=1                   # Display progress
)

In [19]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=20, callbacks=[cp_callback])

Epoch 1/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 21ms/step - accuracy: 0.7502 - loss: 0.5158
Epoch 2/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 17s 21ms/step - accuracy: 0.9544 - loss: 0.1277
Epoch 3/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 17s 21ms/step - accuracy: 0.9625 - loss: 0.0932
Epoch 4/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 17s 21ms/step - accuracy: 0.9610 - loss: 0.0948
Epoch 5/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.9651 - loss: 0.0864
Epoch 5: saving model to weights_optimized/weights2.5.weights.h5
804/804 ━━━━━━━━━━━━━━━━━━━━ 21s 21ms/step - accuracy: 0.9651 - loss: 0.0864
Epoch 6/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 17s 21ms/step - accuracy: 0.9645 - loss: 0.0886
Epoch 7/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 17s 21ms/step - accuracy: 0.9639 - loss: 0.0866
Epoch 8/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 19s 24ms/step - accuracy: 0.9635 - loss: 0.0883
Epoch 9/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 21s 24ms/step - accuracy: 0.9627 - loss: 0.0898
Epoch 10/20
802/804 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - accuracy: 0.9644 - loss: 0.0871
Epoch 10: saving model to weights_optimized/weights2.10.weights.h5
804/804 ━━━━━━━━━━━━━━━━━━━━ 19s 24ms/step - accuracy: 0.9644 - loss: 0.0871
Epoch 11/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 22s 26ms/step - accuracy: 0.9630 - loss: 0.0901
Epoch 12/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 25ms/step - accuracy: 0.9665 - loss: 0.0847
Epoch 13/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 19s 24ms/step - accuracy: 0.9645 - loss: 0.0842
Epoch 14/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 19s 24ms/step - accuracy: 0.9638 - loss: 0.0873
Epoch 15/20
803/804 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - accuracy: 0.9626 - loss: 0.0891
Epoch 15: saving model to weights_optimized/weights2.15.weights.h5
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 25ms/step - accuracy: 0.9626 - loss: 0.0891
Epoch 16/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 19s 24ms/step - accuracy: 0.9656 - loss: 0.0856
Epoch 17/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 19s 24ms/step - accuracy: 0.9646 - loss: 0.0850
Epoch 18/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 19s 24ms/step - accuracy: 0.9654 - loss: 0.0830
Epoch 19/20
804/804 ━━━━━━━━━━━━━━━━━━━━ 21s 24ms/step - accuracy: 0.9654 - loss: 0.0835
Epoch 20/20
802/804 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - accuracy: 0.9669 - loss: 0.0809
Epoch 20: saving model to weights_optimized/weights2.20.weights.h5
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 24ms/step - accuracy: 0.9669 - loss: 0.0809

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - 7ms/step - accuracy: 0.6056 - loss: 0.6572
Loss: 0.6571970582008362, Accuracy: 0.6055976748466492

In [21]:
# Export our model to HDF5 file
nn_model.save('h5Files/AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.